*.baml
MultiGaugeSample/obj/
MultiGaugeSample/bin/Debug/MultiGaugeSample.exe.config
MultiGaugeSample/bin/Debug/MultiGaugeSample.vshost.exe.config
WpfApplication2/bin/
WpfApplication2/obj/Debug/App.g.cs
WpfApplication2/obj/
DataGridScrollBarHighlight/bin/
DataGridScrollBarHighlight/obj/
LineEditor/bin/
LineEditor/obj/x86/Debug/App.g.cs
LineEditor/obj/
HousePlan/bin/
HousePlan/obj/
